

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: black;
  font-size: 22px;
  text-align: center;
    border: 5px solid white;
}


header {
  text-align: left;
  color: black;
}

.links {
  text-align: left;
  color: black;
  list-style: none;
  padding
}

a {
  color: black;
}


.content {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.section{
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.img1{
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
}


.muffin{
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
}


.nextimagediv{
  display: none;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
}



@media only screen and (min-width: 480px){
  h1{
      font-size: 25px;
  }
  .content-box{
      width: 300px;
  }
}
